<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>SRC調査員登録システム</title>
  <meta name="description" content="">
  <meta name="keywords" content="サーベイリサーチセンター,調査員登録システム,交通量調査">
  <meta name="viewport" content="width=device-width">
  <!--<script type="text/javascript" src="/0/tyousa_sys/js/footerFixed.js"></script>>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
  <div id="container">
    <header>
      <h1>ヘッダー</h1>
    </header>
    <div id="contents">
      <section>
        <h2>確認画面</h2>
        <div>以下の入力情報で会員登録します。宜しいでしょうか？</div>
        <p>
          <form name="form1" method="post">
            <table class="ta1" border="1" cellpadding="5" width="100%">
              <tbody>
                <tr>
                  <td class="abc1">姓（漢字）</td>
                  <td class="abc2"><div id="cl00" name="NameFirst" value=""></div></td>
                </tr>
                <tr>
                  <td class="abc1">名（漢字）</td>
                  <td class="abc2"><div id="cl03" name="NameLast" value=""></div></td>
                </tr>
                <tr>
                  <td class="abc1">せい（ふりがな）</td>
                  <td class="abc2"><div id="cl05" name="NameFirstRead" value=""></div></td>
                </tr>
                <tr>
                  <td class="abc1">めい（ふりがな）</td>
                  <td class="abc2"><div id="cl07" name="NameLastRead" value=""></div></td>
                </tr>
                <tr>
                  <td class="abc1">性別</td>
                  <td class="abc2"> <div name="Sex" id="sem1" value=""></div></td>
                </tr>
                <tr>
                  <td class="abc1">生年月日</td>
                  <td class="abc2"> <span id="select_year" name="BirthYear">年</span><span id="select_month" name="BirthYear">月</span><span id="select_day" name="BirthDay">日</span></td>
                </tr>
                <tr>
                  <td class="abc1">郵便番号</td>
                  <td class="abc2"> <div id="cl01" name="PostNumber1" value="" maxlength="3" style="width:80px"> &nbsp;-&nbsp; <div id="cl02" name="PostNumber2" value="" maxlength="4" style="width:80px"> </td>
                </tr>
                <tr>
                  <td class="abc1">都道府県</td>
                  <td class="abc2"> <div name="Prefecture" id="cl04">
</div> </td>
                </tr>
                <tr>
                  <td class="abc1">市区町村名</td>
                  <td class="abc2"><div id="cl06" name="Municipalities" value="" style="width:95%"></div></td>
                </tr>
                <tr>
                  <td class="abc1">番地名</td>
                  <td class="abc2"><div id="cl08" name="Street" value="" style="width:95%"></div></td>
                </tr>
                <tr>
                  <td class="abc1">自宅電話番号</td>
                  <td class="abc2"> <span id="cl10" name="TelMain1" value="" maxlength="5" style="width:60px"></span> - <span id="cl11" name="TelMain2" value="" maxlength="5" style="width:60px"></span> - <span id="cl12" name="TelMain3" value="" maxlength="5" style="width:60px"></span> </td>
                </tr>
                <tr>
                  <td class="abc1">携帯電話番号</td>
                  <td class="abc2"> <span id="cl14" name="TelSelpfhone1" value="" maxlength="5" style="width:60px"></span> - <span id="cl15" name="TelSelpfhone2" value="" maxlength="5" style="width:60px"></span> - <span id="cl16" name="TelSelpfhone3" value="" maxlength="5" style="width:60px"></span> </td>
                </tr>
                <tr>
                  <td class="abc1">PCメールアドレス</td>
                  <td class="abc2"><div id="cl09" name="MailPc" value="" style="width:95%"> </td>
                </tr>
                <tr>
                  <td class="abc1">携帯メールアドレス</td>
                  <td class="abc2"><div id="cl13" name="MailPass" value="" style="width:95%"></div></td>
                </tr>
                <tr>
                  <td class="abc1">調査経験回数</td>
                  <td class="abc2"> <div name="SurveyExperience" id="cl22" style="width:90px"></div></td>
                </tr>
                <tr>
                  <td class="abc1">希望する調査</td>
                  <td class="abc2"> <div id="cl23" name="DesireSurvey" value=""><div> </td>
                </tr>
                <tr>
                  <td class="abc1">最寄SRC事務所</td>
                  <td class="abc2"> <div name="NearestOffice" id="cl31"></div> </td>
                </tr>
                <tr>
                  <td class="abc1">車の保有について</td>
                  <td class="abc2"> <div name="PossessionCar" id="cl32"></div> </td>
                </tr>
                <tr>
                  <td class="abc1">自宅最寄り駅</td>
                  <td class="abc2"><div id="cl35" name="NearestStation" value=""></div></td>
                </tr>
                <tr>
                  <td class="abc1">認知経路</td>
                  <td class="abc2"> <div name="CognitivePathway" id="cl33"></div> </td>
                </tr>
                <tr>
                  <td class="abc1">認知経路 その他</td>
                  <td class="abc2"><div id="cl34" name="CognitivePathwayOther" value=""></div></td>
                </tr>
                <tr>
                  <td class="abc1">パスワード</td>
                  <td class="abc2"><div id="cl17" name="Password" value="" maxlength="20"></div></td>
                </tr>
              </tbody>
            </table>
            <table class="ta1">
              <tbody>
                <tr align="center">
                <td style="width:150px; padding-top:15px; padding-bottom:15px;"><input type="submit" name="edit" value="修正する" style="width:150px "></td>
                  <td style="width:150px; padding-top:15px; padding-bottom:15px;"><input type="submit" name="sub1" value="登録する" style="width:150px "></td>
                </tr>
              </tbody>
            </table>
          </form>
        </p>
      </section>
    </div>
    <!--/contents-->
    <div id="footer">
      <footer>
        <font color="white"><small>Copyright&copy; 2017 SURVEY RESEARCH CENTER CO., LTD. All Rights Reserved.</small></font>
      </footer>
    </div>
  </div>
  <!--/container-->
<script type="text/javascript">
 <!--/script-->
</script>
</body>
</html>