<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>SRC調査員登録システム</title>
  <meta name="description" content="">
  <meta name="keywords" content="サーベイリサーチセンター,調査員登録システム,交通量調査">
  <meta name="viewport" content="width=device-width">
  <!--<script type="text/javascript" src="/0/tyousa_sys/js/footerFixed.js"></script>>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
  <div id="container">
    <header>
      <h1>SRC調査員登録システム</h1>
    </header>
    <div id="contents">
      <section>
        <h2>登録完了画面</h2>
        <p>
          <% if @userinfos.errors.any? %>
        <div class = "errmsg">
        <h3>登録処理でエラーが発生しました。</h3>
        <ul>
          <% @userinfos.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
        </div>
        <% end %>
        <% if @userinfos.errors.any? == false %>
          <div>会員情報の登録が完了しました。</div>
        <% end %>
        <div align="center">
        <%= button_to "戻る", {controller: 'homes', action: 'top'}, {method: :get} %>
        <div/>
        </p>
      </section>
    </div>
    <!--/contents-->
    <div id="footer">
      <footer>
        <font color="white"><small>Copyright&copy; 2017 SURVEY RESEARCH CENTER CO., LTD. All Rights Reserved.</small></font>
      </footer>
    </div>
  </div>
  <!--/container-->
<script type="text/javascript">
</script>
</body>
</html>